rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write to their own document in the 'users' collection.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // The leaderboard is public, anyone can read it.
    match /publicProfiles/{userId} {
      allow read: if true;
      // Users can only create, update or delete their own public profile.
      allow write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
