@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 125 47% 94%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 123 40% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91.4%;
    --input: 214 32% 91.4%;
    --ring: 123 40% 42%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 123 40% 10%;
    --foreground: 0 0% 98%;
    --card: 123 40% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 123 40% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 123 40% 52%;
    --primary-foreground: 0 0% 9%;
    --secondary: 123 40% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 123 40% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 123 40% 20%;
    --input: 123 40% 20%;
    --ring: 123 40% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
